::-webkit-scrollbar {
  display: none;
}


.mainbox{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  width: 50vw;
  padding: 45px;

}
.available{
  background-color: green;
  display: flex;
  flex-direction: column;
  padding: 45px;
  font-size: 20px;
}

.unavailable{
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 45px;
  font-size: 20px;
}